@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

.wrapperTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 90px;
}

.title { 
    font-family: 'Rampart One', sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.subTitle{
    font-size: 20px;
}

.labelWrapper {
    position: relative;
}

.icon {
    position: absolute;
    right: 8px;
    font-size: 20px;
    opacity: 0.6;
}