.wrapperContacts {
    background-color:#114b44;
    overflow-y: scroll;
    flex-grow: 2;
}

.wrapperContacts::-webkit-scrollbar {
    width: 7px;
}
  
.wrapperContacts::-webkit-scrollbar-thumb {
    background: #888;
}

.wrapperContacts::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.wrapperContacts::-webkit-scrollbar-corner{
    display: none;
}