.wrapperTitles {
    min-height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#114b44;
}

.infoUser {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.btnLogout {
    font-size: 13px;
    width: 60px;
    background-color: #34B7F1;
    border-radius: 5px;
}

.imageAvatar {
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.userName{
    font-size: 16px;
    color: #fff;
    font-weight: bolder;
}
.nameApp {
    font-family: 'Rampart One', sans-serif;
    color: #fff;
}