#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #128C7E ;
}

/* @media(min-width : 450px){
  #root {
    background-color: #fff ;
  }
} */
